img {
  width: 90%;
  margin: 20px auto;
  border-radius: 20px;
  display: block;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.current-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.current-details {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}
.current-details strong {
  color: rgb(218, 144, 49);
}
.contact-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
}
header {
  border-bottom: 1px solid rgb(255, 242, 242);
  padding: 30px 0;
}

footer {
  border-top: 1px solid rgb(255, 242, 242);
  padding: 30px 0 0 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}
a:hover {
  color: white;
}
a {
  color: rgb(255, 186, 126);
}
.weather-app {
  background: rgb(247, 233, 208);
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 17px;
}
body {
  font-family: "Urbanist", sans-serif;
  background-color: burlywood;
}
.search-input {
  background-color: rgb(255, 242, 242);
  border: none;
  border-radius: 7px;
  width: 80%;
  padding: 15px 20px;
  font-size: 17px;
}
.search-button {
  background-color: rgb(255, 186, 126);
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}
main {
  padding: 30px 0;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-temperature {
  display: flex;
}
.current-temperature-value {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
}
.current-temperature-icon {
  font-size: 44px;
  margin-top: 22px;
  width: 48px;
  height: 48px;
  line-height: 88px;
  margin-left: 10px;
}
.current-temperature-unit {
  margin-top: 10px;
  font-size: 28px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
  display: inline-block;
  margin-left: 50px;
}
.weather-date {
  font: 16px;
  opacity: 0.6;
}
.weather-forecast-temp-min {
  opacity: 0.6;
}
.weather-forecast-temp {
  font-size: 13px;
}
